inst/extdata/*.duckdb_extension*
inst/extdata/*.tmp
inst/extdata/*.raw
*.tar.gz
*.tgz
*.Rcheck
*.Rcheck/
*.tbi
*.csi
README.html
.github/
inst/duckhts_extension/*.o
inst/duckhts_extension/*.so
inst/duckhts_extension/*.dll
inst/duckhts_extension/*.dylib
inst/duckhts_extension/htslib/*.o
inst/duckhts_extension/htslib/*.so
inst/duckhts_extension/htslib/*.dll
inst/duckhts_extension/htslib/*.dylib
inst/duckhts_extension/htslib/*.a
inst/duckhts_extension/htslib/*.wasm
inst/duckhts_extension/htslib/config.log
inst/duckhts_extension/htslib/config.status
inst/duckhts_extension/htslib/config_vars.h
inst/duckhts_extension/htslib/htslib.pc
inst/duckhts_extension/htslib/htslib.pc.tmp
docs
